:host {
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --bg-surface: #181818;
  --bg-elevated: #282828;
  --progress-bar-bg: #4d4d4d;
}

.player-container {
  height: 90px;
//   width: 100%;
background: linear-gradient(to bottom, #000000, #1f1640);
  border-top: 1px solid #282828;
  padding: 0 16px;
    display: flex
;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  gap: 24px;

  &.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
  }
}


.song-info {
  display: flex;
  align-items: center;
      flex-direction: row-reverse;
  gap: 14px;
  min-width: 180px;

  img {
    width: 56px;
    height: 56px;
    border-radius: 4px;
  }

  .text-details {
    .song-title {
      color: var(--text-primary);
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      &:hover { text-decoration: underline; }
    }
    .artist-name {
      color: var(--text-secondary);
      font-size: 12px;
      cursor: pointer;
      &:hover { text-decoration: underline; color: var(--text-primary); }
    }
  }
}


.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 722px;
      width: 50%;
}

.player-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.progress-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  .time {
    color: var(--text-secondary);
    font-size: 11px;
    min-width: 40px;
    text-align: center;
  }
}

.progress-bar {
  width: 100%;
  height: 4px;
  background-color: var(--progress-bar-bg);
  border-radius: 2px;
  cursor: pointer;
  .progress {
    background: linear-gradient(135deg, #450af5, #c4efd9);
    width: 40%;
    height: 100%;
    border-radius: 2px;
  }
  &:hover .progress {
    background-color: #e3b716; 
  }
}


.player-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  min-width: 180px;
}

.volume-control {
  display: flex;
  align-items: center;
  width: 130px; 
  .volume-bar {
    width: 100px;
  }
}


.icon-button {
  background: none;
  border: none;
  color: var(--text-secondary);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    color: var(--text-primary);
  }

  &.play-button {
    background-color: var(--text-primary);
    color: #000;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    &:hover {
      transform: scale(1.06);
    }
  }
}

.fa-volume-down, .fa-volume-low {
    --fa: "\f027";
    color: white;
}